{% extends 'base.html.twig' %}
{% block body %}
{% block nav %}{% endblock %}

<div class="admin-login-wrapper">
    <div class="login-inputs-wrapper">
        <div class="form-content-wrapper">
            <img src="./img/logo_black.svg" alt="facebook">
            <form method="post" action="{{ path('login') }}">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="inputUsername">USERNAME</label>
                <input type="text" name="_username" id="inputUsername"  placeholder="Your Username" required autofocus>
                <label for="inputPassword">PASSWORD</label>
                <input type="password" name="_password" id="inputPassword"  placeholder="Your Password" required>
                <button class="admin-signin-btn" type="submit" id="login_submit">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
